<app-nav-component></app-nav-component>
<div class="container pt-1">
  <button class="mt-1 mb-2 btn-blue-back" (click)="Back()"><i class="fa fa-long-arrow-left fa-lg"></i></button>
  <div *ngIf="Article != undefined">
    <div class="row">
      <div *ngIf="Materials.length != 0; else fullsize" class="col-md-7 bg-white p-0 mt-1 flex">
        <div class="col-md-12 bg-dark p-1 pl-3">
          <h5>{{ Article.title }}</h5>
      </div>
        <div class="col-md-12 p-2 pl-3" style="min-height:10em;">
          {{ Article.body }}
        </div>
        <hr />
        <div class="col-md-12 row p-3">
          <div class="col-md-7 col-7 text-left">
            <i class="fa fa-eye"></i> {{ Article.GetTotalViews() }}
          </div>
          <div class="col-md-5 col-5 text-right">
            {{ Article.date }}
          </div>
        </div>
      </div>
      <ng-template #fullsize>
        <div class="col-md-12 bg-white p-0 mt-1">
          <div class="col-md-12 bg-dark p-1 pl-3 pt-2">
            <h5>{{ Article.title }}</h5>
          </div>
          <div class="col-md-12 p-2 pl-3" style="min-height:10em;">
            {{ Article.body }}
          </div>
          <hr />
          <div class="col-md-12 row p-3">
            <div class="col-md-8 col-8 text-left">
              <i class="fa fa-eye"></i> {{ Article.GetTotalViews()}}
            </div>
            <div class="col-md-4 col-4 text-right">
              {{ Article.date }}
            </div>
          </div>
        </div>
      </ng-template>
      <div *ngIf="Materials.length != 0" class="col-md-4 offset-md-1 offset-0 mt-2">
          <div class="materials-item bg-white">
            <div class="col-md-12 bg-dark p-1 pl-3">
              <h5>Матеріали</h5>
            </div>
            <div *ngFor="let material of Materials" class="p-2 text-center ">
                <div class="link-material">
                    <a (click)="OpenUrl(material.link, material.id)">{{ material.name }}</a>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
