<div class="bg-dark top-bar text-white pt-5 pl-5">
  <span>Сайт вчителя математики</span>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
    <ul class="navbar-nav ml-auto text-center">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Головна</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/about">Про мене</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/materials">Матеріали</a>
      </li>
    </ul>
  </div>
  <div class="mx-auto my-2 order-0 order-md-1 position-relative">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
    <ul class="navbar-nav mr-auto text-center">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/contact">Зв’язок</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/gallery">Фотогалерея</a>
      </li>
    </ul>
  </div>
</nav>
<app-loader-component></app-loader-component>
